.ipynb_checkpoints
datasets/*
!datasets/rgb_data_old
!datasets/rgb_data_old_validation
trained_models/*
!trained_models/mobilenetv2_w4a4_model.pth
brevitas-cnn-train.ipynb
!onnx_models/
!finn_build/
